<footer class="container grid">
    <div></div>
    <div>
        <h5>Utilidades</h5>
        <small>Webmail</small>
        <br>
        <small>Termos e condições</small>
        <br>
        <small>Mapa do site</small>
    </div>
    <div>
        <h5>Endereço</h5>
        <small>
            Praça Joaquim Correia, 55, Centro
            <br>
            Vitória da Conquista - BA
            <br>
            CEP: 45000-907
            <br>
            (77) 3424-8500
        </small>
    </div>
    <div>
        <h5>Contato</h5>
        <small>Fale Conosco</small>
        <br><br>
        <h5>Redes Sociais</h5>
        <div>
            <iconify-icon icon="mdi:instagram"></iconify-icon>
            <iconify-icon icon="mdi:facebook"></iconify-icon>
            <iconify-icon icon="mdi:twitter"></iconify-icon>
            <iconify-icon icon="mdi:whatsapp"></iconify-icon>
        </div>
    </div>
    <div></div>
</footer>