<header class="container-fluid">
    <nav>
        <ul>
            <li><a href="/home" class="contrast"><img src="/img/aquasys_logo1.png" alt="Brasão VCA" width="64em"></a></li>
            <li><a href="/home"><h5 class="degrader">A Q U A S Y S</h5></a></li>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    <summary>Famílias</summary>
                    <ul>
                        <li><a href="/family">Cadastrar</a></li>
                        <li><a href="/searchFamily">Procurar</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details class="dropdown">
                    <summary>Caminhoneiros</summary>
                    <ul>
                        <li><a href="/drivers">Cadastrar</a></li>
                        <li><a href="/searchDrivers">Procurar</a></li>
                    </ul>
                </details>
            </li>
            <li><a id="theme" class="contrast"><iconify-icon icon="mdi:theme-light-dark" width="28px"></iconify-icon></a></li>
            <li>
                <a href="/config" class="contrast"><i class="nf nf-seti-config"></i></a>
            </li>
            <li>
                <a href="/logout" class="contrast"><i class="nf nf-md-logout"></i></a>
            </li>
        </ul>
    </nav>
</header>