<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
    <head>
        <title>Aquasys</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" type="imagex/png" href="/img/icon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    </head>
    <body>
        
        {{{body}}}

        <script type="text/javascript" src="/js/changeTheme.js"></script>
    </body>
</html>